import os
import shutil


def silence_errors(func):
    def wrapped(*args, **kwargs):
        try:
            func(*args, **kwargs)
        except Exception:
            pass
    return wrapped


@silence_errors
def rm(path):
    os.remove(path)


@silence_errors
def rmdir(path):
    shutil.rmtree(path)


def clean_up_cli():
    cli_name = "{{ python_package_command_line_name }}"
    if not cli_name:
        rm("src/{{ python_package_import_name }}/__main__.py")
        rm("src/{{ python_package_import_name }}/cli.py")
        rm("tests/test_cli.py")


def delete_myself():
    rm(__file__)


if __name__ == "__main__":
    clean_up_cli()
    delete_myself()

    print("Project successfully generated!")
    print("Run `make` to show the available actions.")
