site_name: "[[ project_name ]]"
site_description: "[[ project_description ]]"
site_url: "https://[[ repository_namespace ]].github.io/[[ repository_name ]]"
repo_url: "https://github.com/[[ repository_namespace ]]/[[ repository_name ]]"
repo_name: "[[ repository_namespace ]]/[[ repository_name ]]"

nav:
  - Overview: index.md
  - API Reference:
    - cli.py: reference/cli.md
  - Contributing: contributing.md
  - Code of Conduct: code_of_conduct.md
  - Changelog: changelog.md
  - Credits: credits.md

theme:
  name: material

extra_css:
  - css/mkdocstrings.css

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - pymdownx.emoji
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - toc:
      permalink: "¤"

plugins:
  - search
  - mkdocstrings:
      watch:
        - src/[[ python_package_import_name ]]
