site_name: "{{ project_name }}"
site_description: "{{ project_description }}"
site_url: "https://{{ repository_namespace }}.{{ repository_provider.rsplit('.', 1)[0] }}.io/{{ repository_name }}"
repo_url: "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}"
repo_name: "{{ repository_namespace }}/{{ repository_name }}"
site_dir: "{% if repository_provider == 'github.com' %}site{% endif %}"
watch: [mkdocs.yml, README.md, CONTRIBUTING.md, CHANGELOG.md, src/{{ python_package_import_name }}]
copyright: Copyright &copy; {{ copyright_date }} {{ copyright_holder }}

nav:
- Home:
  - Overview: index.md
  - Changelog: changelog.md
  - Credits: credits.md
  - License: license.md
# defer to gen-files + literate-nav
- Code Reference: reference/
- Development:
  - Contributing: contributing.md
  - Code of Conduct: code_of_conduct.md
  - Coverage report: coverage.md
{%- if insiders %}
- Insiders:
  - insiders/index.md
  - Getting started:
    - Installation: insiders/installation.md
    - Changelog: insiders/changelog.md
{%- endif %}
{%- if author_username == "pawamoy" %}
- Author's website: https://{{ author_username }}.{{ repository_provider.rsplit('.', 1)[0] }}.io/
{%- endif %}

theme:
  name: material
  {%- if author_username == "pawamoy" %}
  custom_dir: docs/.overrides
  icon:
    logo: material/currency-sign
  {%- endif %}
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - search.highlight
  - search.suggest
  - toc.follow
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to system preference

extra_css:
- css/material.css
- css/mkdocstrings.css
{%- if insiders %}
- css/insiders.css
{%- endif %}

markdown_extensions:
- attr_list
- admonition
- callouts
- footnotes
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.magiclink
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
    slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
- pymdownx.tasklist:
    custom_checkbox: true
- toc:
    permalink: {% if author_username == "pawamoy" %}"¤"{% else %}true{% endif %}

plugins:
- search
- markdown-exec
- gen-files:
    scripts:
    - scripts/gen_ref_nav.py
- literate-nav:
    nav_file: SUMMARY.txt
- coverage
- mkdocstrings:
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv
        options:
          separate_signature: true
          merge_init_into_class: true
          docstring_options:
            ignore_init_summary: true
- git-committers:
    enabled: !ENV [DEPLOY, false]
    repository: {{ repository_namespace }}/{{ repository_name }}
{# - git-revision-date-localized:
  enable_creation_date: true
  type: timeago #}
- minify:
    minify_html: !ENV [DEPLOY, false]

extra:
  social:
  - icon: fontawesome/brands/{{ repository_provider.rsplit(".", 1)[0] }}
    link: https://{{ repository_provider }}/{{ author_username }}
  {%- if author_username == "pawamoy" %}
  - icon: fontawesome/brands/mastodon
    link: https://fosstodon.org/@{{ author_username }}
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/{{ author_username }}
  {%- endif %}
  - icon: fontawesome/brands/gitter
    link: https://gitter.im/{{ repository_name }}/community
  - icon: fontawesome/brands/python
    link: https://pypi.org/project/{{ python_package_distribution_name }}/
