[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"

[project]
name = "{{ python_package_distribution_name }}"
description = "{{ project_description }}"
authors = [{name = "{{ author_fullname }}", email = "{{ author_email }}"}]
license = {file = "LICENSE"}
readme = "README.md"
requires-python = ">=3.7"
keywords = []
dynamic = ["version"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    {%- if copyright_license == "Academic Free License v3.0" %}
    "License :: OSI Approved :: Academic Free License (AFL)",
    {%- elif copyright_license == "Apache License 2.0" %}
    "License :: OSI Approved :: Apache Software License",
    {%- elif copyright_license == "Artistic License 2.0" %}
    "License :: OSI Approved :: Artistic License",
    {%- elif copyright_license == "BSD 2-Clause \"Simplified\" License" %}
    "License :: OSI Approved :: BSD License",
    {%- elif copyright_license == "BSD 3-Clause Clear License" %}
    "License :: OSI Approved :: BSD License",
    {%- elif copyright_license == "BSD 3-Clause \"New\" or \"Revised\" License" %}
    "License :: OSI Approved :: BSD License",
    {%- elif copyright_license == "Boost Software License 1.0" %}
    "License :: OSI Approved :: Boost Software License 1.0 (BSL-1.0)",
    {%- elif copyright_license == "Creative Commons Attribution 4.0" %}
    "License :: OSI Approved :: Common Public License",
    {%- elif copyright_license == "Creative Commons Attribution Share Alike 4.0" %}
    "License :: OSI Approved :: Common Public License",
    {%- elif copyright_license == "Creative Commons Zero v1.0 Universal" %}
    "License :: OSI Approved :: Common Public License",
    {%- elif copyright_license == "Do What The F*ck You Want To Public License" %}
    "License :: Other/Proprietary License",
    {%- elif copyright_license == "Educational Community License v2.0" %}
    "License :: Other/Proprietary License",
    {%- elif copyright_license == "Eclipse Public License 1.0" %}
    "License :: OSI Approved :: Eclipse Public License 1.0 (EPL-1.0)",
    {%- elif copyright_license == "Eclipse Public License 2.0" %}
    "License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)",
    {%- elif copyright_license == "European Union Public License 1.1" %}
    "License :: OSI Approved :: European Union Public Licence 1.1 (EUPL 1.1)",
    {%- elif copyright_license == "European Union Public License 1.2" %}
    "License :: OSI Approved :: European Union Public Licence 1.2 (EUPL 1.2)",
    {%- elif copyright_license == "GNU Affero General Public License v3.0" %}
    "License :: OSI Approved :: GNU Affero General Public License v3",
    {%- elif copyright_license == "GNU General Public License v2.0" %}
    "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",
    {%- elif copyright_license == "GNU General Public License v3.0" %}
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    {%- elif copyright_license == "GNU Lesser General Public License v2.1" %}
    "License :: OSI Approved :: GNU Lesser General Public License v2 (LGPLv2)",
    {%- elif copyright_license == "GNU Lesser General Public License v3.0" %}
    "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
    {%- elif copyright_license == "ISC License" %}
    "License :: OSI Approved :: ISC License (ISCL)",
    {%- elif copyright_license == "LaTeX Project Public License v1.3c" %}
    "License :: Other/Proprietary License",
    {%- elif copyright_license == "MIT License" %}
    "License :: OSI Approved :: MIT License",
    {%- elif copyright_license == "Mozilla Public License 2.0" %}
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
    {%- elif copyright_license == "Microsoft Public License" %}
    "License :: Other/Proprietary License",
    {%- elif copyright_license == "Microsoft Reciprocal License" %}
    "License :: Other/Proprietary License",
    {%- elif copyright_license == "University of Illinois/NCSA Open Source License" %}
    "License :: OSI Approved :: University of Illinois/NCSA Open Source License",
    {%- elif copyright_license == "SIL Open Font License 1.1" %}
    "License :: OSI Approved :: SIL Open Font License 1.1 (OFL-1.1)",
    {%- elif copyright_license == "Open Software License 3.0" %}
    "License :: OSI Approved :: Open Software License 3.0 (OSL-3.0)",
    {%- elif copyright_license == "PostgreSQL License" %}
    "License :: OSI Approved :: PostgreSQL License",
    {%- elif copyright_license == "The Unlicense" %}
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    {%- elif copyright_license == "zlib License" %}
    "License :: OSI Approved :: zlib/libpng License",
    {%- endif %}
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Documentation",
    "Topic :: Software Development",
    "Topic :: Software Development :: Documentation",
    "Topic :: Utilities",
    "Typing :: Typed",
]
dependencies = []

[project.urls]
Homepage = "https://{{ repository_namespace }}.{{ repository_provider.rsplit('.', 1)[0] }}.io/{{ repository_name }}"
Documentation = "https://{{ repository_namespace }}.{{ repository_provider.rsplit('.', 1)[0] }}.io/{{ repository_name }}"
Changelog = "https://{{ repository_namespace }}.{{ repository_provider.rsplit('.', 1)[0] }}.io/{{ repository_name }}/changelog"
Repository = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}"
Issues = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/issues"
Discussions = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}/discussions"
Gitter = "https://gitter.im/{{ repository_name }}/community"
{%- if repository_provider == "github.com" %}
Funding = "https://{{ repository_provider }}/sponsors/{{ repository_namespace }}"
{%- endif %}

[project.scripts]
{{ python_package_command_line_name }} = "{{ python_package_import_name }}.cli:main"

[tool.pdm]
version = {use_scm = true}
package-dir = "src"

[tool.pdm.dev-dependencies]
duty = ["duty>=0.7"]
docs = [
    "mkdocs>=1.2",
    "mkdocs-coverage>=0.2",
    "mkdocs-gen-files>=0.3",
    "mkdocs-literate-nav>=0.4",
    "mkdocs-material>=7.3",
    "mkdocstrings>=0.16",
    "toml>=0.10",
]
format = [
    "autoflake>=1.4",
    "black>=21.10b0",
    "isort>=5.10",
]
maintain = [
    # TODO: remove this section when git-changelog is more powerful
    "git-changelog>=0.4",
]
quality = [
    "darglint>=1.8",
    "flake8-bandit>=2.1",
    "flake8-black>=0.2",
    "flake8-bugbear>=21.9",
    "flake8-builtins>=1.5",
    "flake8-comprehensions>=3.7",
    "flake8-docstrings>=1.6",
    "flake8-pytest-style>=1.5",
    "flake8-string-format>=0.3",
    "flake8-tidy-imports>=4.5",
    "flake8-variables-names>=0.0",
    "pep8-naming>=0.12",
    "wps-light>=0.15",
]
tests = [
    "pytest>=6.2",
    "pytest-cov>=3.0",
    "pytest-randomly>=3.10",
    "pytest-sugar>=0.9",
    "pytest-xdist>=2.4",
]
typing = [
    "mypy>=0.910",
    "types-markdown>=3.3",
    "types-toml>=0.10",
]
security = ["safety>=1.10"]

[tool.black]
line-length = 120
exclude = "tests/fixtures"

[tool.isort]
line_length = 120
not_skip = "__init__.py"
multi_line_output = 3
force_single_line = false
balanced_wrapping = true
default_section = "THIRDPARTY"
known_first_party = "{{ python_package_import_name }}"
include_trailing_comma = true
