# {{ project_name }}

{% if repository_provider == "gitlab.com" -%}
[![pipeline status](https://gitlab.com/{{ repository_namespace }}/{{ repository_name }}/badges/master/pipeline.svg)](https://gitlab.com/{{ repository_namespace }}/{{ repository_name }}/pipelines)
[![coverage report](https://gitlab.com/{{ repository_namespace }}/{{ repository_name }}/badges/master/coverage.svg)](https://gitlab.com/{{ repository_namespace }}/{{ repository_name }}/commits/master)
{% elif repository_provider == "github.com" -%}
[![ci](https://github.com/{{ repository_namespace }}/{{ repository_name }}/workflows/ci/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Aci)
{% endif -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs%20material-blue.svg?style=flat)](https://{{ repository_namespace }}.{{ repository_provider[:-4] }}.io/{{ repository_name }}/)
[![pypi version](https://img.shields.io/pypi/v/{{ python_package_distribution_name }}.svg)](https://pypi.org/project/{{ python_package_distribution_name }}/)
[![gitpod](https://img.shields.io/badge/gitpod-workspace-blue.svg?style=flat)](https://gitpod.io/#https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![gitter](https://badges.gitter.im/join%20chat.svg)](https://gitter.im/{{ repository_name }}/community)

{{ project_description }}

## Requirements

{{ project_name }} requires Python 3.7 or above.

<details>
<summary>To install Python 3.7, I recommend using <a href="https://github.com/pyenv/pyenv"><code>pyenv</code></a>.</summary>

<details>
<summary>To install Pyenv on Windows <a href="https://github.com/pyenv-win/pyenv-win"><code>pyenv-win</code></a>.</summary>

### Windows Pyenv installation  
https://github.com/pyenv-win/pyenv-win  
https://community.chocolatey.org/packages/pyenv-win  

### Install Chocolatey
https://community.chocolatey.org/courses/installation/installing?method=install-from-powershell-v3
```powershell
Set-ExecutionPolicy Bypass -Scope Process -Force; iwr https://community.chocolatey.org/install.ps1 -UseBasicParsing | iex
```

Then install Pyenv via Chocolatey
```powershell
choco install pyenv-win
pyenv install 3.7.12
pyenv global 3.7.12
pyenv rehash
```
</details>

<details>
<summary>To Install Pyenv on Linux <a href="https://github.com/pyenv/pyenv"><code>pyenv</code></a>.</summary>

### Install Pyenv Linux

```bash
sudo apt-get update; sudo apt-get install -y make build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
curl https://pyenv.run | bash
```

### Setup pyenv (you should also put the below in .bashrc or similar)
```bash
if [ -d "$HOME/.pyenv" ] ; then
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init --path)"
    eval "$(pyenv virtualenv-init -)"
fi
```
### Then source it
```bash
source ~/.bashrc
```
</details>

<details>
<summary>To Install Pyenv on MacOS via Homebrew <a href="https://github.com/pyenv/pyenv#homebrew-in-macos"><code>pyenv</code></a>.</summary>

## Install Pyenv MacOs

https://github.com/pyenv/pyenv#homebrew-in-macos
https://github.com/pyenv/pyenv/wiki#suggested-build-environment
```bash
xcode-select --install
brew install openssl readline sqlite3 xz zlib pyenv
echo 'eval "$(pyenv init --path)"' >> ~/.zprofile
echo 'eval "$(pyenv init -)"' >> ~/.zshrc
```
</details>


### Install Python 3.7
```bash
python_version=3.7.12
CONFIGURE_OPTS=--enable-shared pyenv install $python_version && pyenv rehash
```

# Make it available globally
```bash
pyenv global system 3.7.12
```
</details>

## Installation

With `pip`:
```bash
pip install {{ python_package_distribution_name }}
```

With [`pipx`](https://github.com/pipxproject/pipx):
```bash
python3.7 -m pip install --user pipx
pipx install {{ python_package_distribution_name }}
```
