# {{ project_name }}

{% if repository_provider == "github.com" and (not insiders or public_release) -%}
[![ci](https://github.com/{{ repository_namespace }}/{{ repository_name }}/workflows/ci/badge.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/actions?query=workflow%3Aci)
{% endif -%}
[![documentation](https://img.shields.io/badge/docs-mkdocs%20material-blue.svg?style=flat)](https://{{ repository_namespace }}.{{ repository_provider[:-4] }}.io/{{ repository_name }}/)
{% if not insiders or public_release -%}
[![pypi version](https://img.shields.io/pypi/v/{{ python_package_distribution_name }}.svg)](https://pypi.org/project/{{ python_package_distribution_name }}/)
{% endif -%}
[![gitpod](https://img.shields.io/badge/gitpod-workspace-blue.svg?style=flat)](https://gitpod.io/#https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![gitter](https://badges.gitter.im/join%20chat.svg)](https://app.gitter.im/#/room/#{{ repository_name }}:gitter.im)

{{ project_description }}

## Installation

{% if not insiders or public_release -%}
With `pip`:

```bash
pip install {{ python_package_distribution_name }}
```

With [`pipx`](https://github.com/pipxproject/pipx):

```bash
python3.8 -m pip install --user pipx
pipx install {{ python_package_distribution_name }}
```
{%- else -%}
This project is available to sponsors only, through my Insiders program.
See Insiders [explanation](https://{{ repository_namespace }}.github.io/{{ repository_name }}/insiders/)
and [installation instructions](https://{{ repository_namespace }}.github.io/{{ repository_name }}/insiders/installation/).
{%- endif %}
