{% raw %}{% extends "base.html" %}{% endraw %}

{% raw %}{% block announce %}{% endraw %}
  {% if insiders %}
    <a href="{% raw %}{{ 'insiders/#how-to-become-a-sponsor' | url }}{% endraw %}"><strong>Sponsorship</strong></a>
    is now available!
    <span class="twemoji heart pulse">
      {% raw %}{% include ".icons/octicons/heart-fill-16.svg" %}{% endraw %}
    </span> &mdash;
  {% endif %}
  For updates follow <strong>@pawamoy</strong> on
  <a rel="me" href="https://fosstodon.org/@pawamoy">
    <span class="twemoji mastodon">
      {% raw %}{% include ".icons/fontawesome/brands/mastodon.svg" %}{% endraw %}
    </span>
    <strong>Fosstodon</strong>
  </a>
{% raw %}{% endblock %}{% endraw %}
